/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  background: linear-gradient(to bottom, rgba(28, 26, 31, 0.99) 0%, rgba(0, 0, 0, 0.99) 2000px), url(../assets/images/background.jpg);
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 3.5rem;
  font-weight: 30rem;
}
h2 {
  font-size: 2.6rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
  padding-bottom: 10px;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  flex: 1;
  justify-content: space-around;
  color: #eceaea;
  width: 90%;
  max-width: 100%;
  margin-top: 3%;
}
@media screen and (max-width:500px) {
  .navigation {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8% 11%;
  }
}
.navigation .nav-left-side {
  display: flex;
  white-space: nowrap;
}
.navigation .nav-left-side h1 {
  font-family: 'Raleway', sans-serif;
}
@media screen and (max-width:500px) {
  .navigation .nav-left-side {
    display: flex;
    justify-content: center;
    padding: 5% 5%;
  }
}
img.logo {
  width: 3.9rem;
  height: 3.8rem;
  left: 2.2rem;
  top: 4.2rem;
  margin-top: -0.5rem;
  margin-right: 1rem;
}
.nav-right-side ul {
  display: flex;
  width: 100%;
  justify-items: space-between;
}
@media screen and (max-width:500px) {
  .nav-right-side ul {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }
}
ul a {
  padding-right: 4rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #eceaea;
  text-decoration: none;
}
@media screen and (max-width:500px) {
  ul a {
    max-width: 100%;
    font-size: 1.6rem;
    padding: 0.6em;
    white-space: nowrap;
    text-decoration: underline;
  }
}
ul a:hover {
  color: #3DE39C;
}
ul.internal-links a:hover::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #031D44;
  width: 0%;
  bottom: 10px;
}
ul.internal-links a:hover::before {
  width: 100%;
}
footer div {
  font-family: 'raleway';
  font-size: 1.6rem;
  width: 100;
  display: flex;
  justify-content: center;
  color: #F2F2F2;
  margin-top: 10%;
}
@media screen and (max-width:500px) {
  footer div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
.jumbotron {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
}
@media screen and (max-width:500px) {
  .jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.jumbotron .jumbo-wrap {
  display: flex;
  width: 100%;
}
@media screen and (max-width:500px) {
  .jumbotron .jumbo-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width:500px) {
  .jumbotron .jumbo-wrap .jumbo-text-wrap {
    order: 2;
    text-align: center;
    width: 100%;
  }
}
.jumbotron .jumbo-wrap .jumbo-text-wrap .jumbo-text {
  width: 35.6rem;
  height: 18.4rem;
  margin-top: 27rem;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 4rem;
  line-height: 5.2rem;
  text-shadow: 0rem 0.5rem 0.4rem rgba(0, 0, 0, 0.56);
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width:500px) {
  .jumbotron .jumbo-wrap .jumbo-text-wrap .jumbo-text {
    margin-top: 0px;
  }
}
.jumbotron .jumbo-wrap .jumbo-text-wrap .jumbo-text span {
  color: #3DE39C;
}
@media screen and (max-width:500px) {
  .jumbotron .jumbo-wrap .jumbo-text-wrap .jumbo-text {
    margin-left: 2%;
    width: 100%;
    font-size: 3.5rem;
  }
}
@media screen and (max-width:500px) {
  .jumbotron .jumbo-wrap .jumbo-img-wrap {
    display: none;
  }
}
.jumbotron .jumbo-wrap .jumbo-img-wrap .jumbo-img {
  margin-left: -12%;
  width: 35.7rem;
  height: 66.7rem;
  margin-top: 8rem;
  filter: drop-shadow(0px 3px 9px black);
}
@media screen and (max-width:500px) {
  .jumbotron .jumbo-wrap .jumbo-img-wrap .jumbo-img {
    display: none;
  }
}
.jumbotron .jumbo-cta {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (max-width:500px) {
  .jumbotron .jumbo-cta {
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
  }
}
.jumbotron .jumbo-cta .jumbo-blurb {
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  color: #929EAD;
}
@media screen and (max-width:500px) {
  .jumbotron .jumbo-cta .jumbo-blurb {
    justify-content: center;
    width: 100%;
  }
  .jumbotron .jumbo-cta .jumbo-blurb p {
    width: 95%;
    height: 2rem;
    margin-top: 1rem;
    text-align: center;
  }
}
@media screen and (max-width:500px) and screen and (max-width:500px) {
  .jumbotron .jumbo-cta .jumbo-blurb p {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
  }
}
.jumbotron .jumbo-cta .jumbo-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.jumbotron .jumbo-cta .jumbo-button button {
  width: 25rem;
  height: 5rem;
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.9);
  margin-top: 7rem;
  background: #3DE39C;
  border-radius: 9px;
  font-weight: 500;
  font-size: 1.6rem;
}
.jumbotron .jumbo-cta .jumbo-button button a {
  text-decoration: none;
  color: #F2F2F2;
}
@media screen and (max-width:500px) {
  .jumbotron .jumbo-cta .jumbo-button button {
    margin-top: 12rem;
  }
}
.features {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 6rem;
}
@media screen and (max-width:500px) {
  .features {
    margin-top: 5%;
    margin-left: 0%;
    text-align: center;
    width: 100%;
  }
}
.features .features-heading {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 7.2rem;
  color: #F2F2F2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
  text-align: center;
}
@media screen and (max-width:500px) {
  .features .features-heading {
    width: 100%;
    margin-left: 5%;
    font-size: 3.7rem;
  }
}
.features .features-wrapper {
  display: flex;
  justify-content: center;
}
@media screen and (max-width:500px) {
  .features .features-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.features .features-wrapper .feature {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  width: 100%;
  padding: 5%;
  margin: 2%;
  background: #1c1a1f;
  box-shadow: 5px 12px 3px rgba(0, 0, 0, 0.9);
}
@media screen and (max-width:500px) {
  .features .features-wrapper .feature {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
    width: 100%;
  }
}
.features .features-wrapper .feature .feature-text {
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  width: 100%;
}
@media screen and (max-width:500px) {
  .features .features-wrapper .feature .feature-text {
    margin-left: 2%;
    text-align: left;
    width: 95%;
  }
}
.features .features-wrapper .feature .feature-text img.icon {
  width: 53px;
  height: 53px;
  align-self: center;
  margin-bottom: 5%;
  box-shadow: 0px 12px 0px rgba(0, 0, 0, 0.9);
}
.features .features-wrapper .feature .feature-text h2 {
  color: #F2F2F2;
  text-align: center;
  font-weight: 550;
}
.features .features-wrapper .feature .feature-text p {
  color: #929EAD;
  margin-top: 1rem;
  margin-right: 1rem;
}
.features .features-wrapper .feature .feature-img {
  margin-top: 2%;
}
.features .features-wrapper .feature .feature-img #hotspots-img,
.features .features-wrapper .feature .feature-img #predict-img {
  width: 45rem;
  height: 27.3rem;
  border-radius: 0.3rem;
  padding: 2%;
}
@media screen and (max-width:500px) {
  .features .features-wrapper .feature .feature-img #hotspots-img,
  .features .features-wrapper .feature .feature-img #predict-img {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width:500px) {
  .jumbo-img-wrap.jumbo-img {
    order: 1;
    margin-left: 0%;
  }
}
@media screen and (max-width: 800px) {
  #main {
    width: 90%;
  }
  .jumbotron .jumbo-wrap {
    width: 100%;
    margin-left: 0%;
  }
  .jumbotron .jumbo-cta {
    width: 100%;
  }
  .features .hot-spots {
    display: none;
  }
}
.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 100px 0 0 5%;
}
@media screen and (max-width: 768px) {
  .blog-container {
    width: 80%;
    margin-top: 50px;
    justify-content: center;
    width: 100%;
    margin-left: 0px;
  }
}
.blog-container a {
  color: #F2F2F2;
  font-size: 3rem;
  text-decoration: none;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .blog-container a {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 500px) {
  .blog-container a {
    font-size: 2rem;
  }
}
.blog-container a:hover {
  color: #3DE39C;
}
.blog-container p {
  text-align: center;
  color: #F2F2F2;
  margin-top: 10px auto;
  width: 70%;
  position: relative;
}
.blog-container p :before {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: #F2F2F2;
  position: absolute;
  left: 0;
  top: 30%;
}
@media screen and (max-width: 1024px) {
  .blog-container p :before {
    width: 170px;
  }
}
@media screen and (max-width: 768px) {
  .blog-container p :before {
    width: 100px;
  }
}
@media screen and (max-width: 500px) {
  .blog-container p :before {
    width: 80px;
  }
}
@media screen and (max-width: 400px) {
  .blog-container p :before {
    width: 45px;
  }
}
@media screen and (max-width: 300px) {
  .blog-container p :before {
    width: 30px;
  }
}
.blog-container p :after {
  content: "";
  display: block;
  width: 200px;
  height: 2px;
  background: #F2F2F2;
  position: absolute;
  right: 0;
  top: 30%;
}
@media screen and (max-width: 1024px) {
  .blog-container p :after {
    width: 170px;
  }
}
@media screen and (max-width: 768px) {
  .blog-container p :after {
    width: 100px;
  }
}
@media screen and (max-width: 500px) {
  .blog-container p :after {
    width: 80px;
  }
}
@media screen and (max-width: 400px) {
  .blog-container p :after {
    width: 45px;
  }
}
@media screen and (max-width: 300px) {
  .blog-container p :after {
    width: 30px;
  }
}
.blog-container img {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.blog-container .crossroads {
  width: 70%;
}
.blog-container .busy-road {
  width: 70%;
}
.blog-container .button {
  font-size: 2rem;
  text-align: center;
  background-color: #F2F2F2;
  width: 70%;
  height: 40px;
  padding-top: 10px;
  border: 1px solid #3DE39C;
  border-radius: 5px;
  cursor: pointer;
}
.blog-container .button:hover {
  background-color: #3DE39C;
  color: #F2F2F2;
}
.more-posts {
  display: flex;
  flex-direction: column;
  color: #F2F2F2;
  margin-top: 100px;
}
.more-posts h2 {
  text-align: center;
  margin-bottom: 10px;
}
.more-posts .more-posts-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin-left: 5%;
}
@media screen and (max-width: 500px) {
  .more-posts .more-posts-wrap {
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }
}
.more-posts .more-posts-wrap img {
  width: 300px;
  padding: 10px;
  border-radius: 30px;
}
.more-posts .more-posts-wrap p {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 400px) {
  .more-posts .more-posts-wrap p {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }
}
.more-posts .more-posts-wrap a {
  color: #F2F2F2;
  font-size: 1.5rem;
  text-decoration: none;
  margin-left: 2%;
}
.more-posts .more-posts-wrap a:hover {
  color: #3DE39C;
}
footer {
  display: flex;
  justify-content: center;
  margin-left: 0px;
}
@media screen and (max-width: 500px) {
  footer {
    margin: 30px auto 0px auto;
  }
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container h2 {
  color: #F2F2F2;
  margin-top: 50px;
  margin-bottom: 10px;
}
.contact-container img {
  width: 60%;
  margin-bottom: 10px;
  border-radius: 30px;
}
@media screen and (max-width: 500px) {
  .contact-container img {
    width: 90%;
  }
}
.contact-container p {
  color: #F2F2F2;
  width: 60%;
  margin-bottom: 50px;
}
@media screen and (max-width: 500px) {
  .contact-container p {
    width: 90%;
  }
}
.form {
  color: #F2F2F2;
  margin-left: 10%;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #3DE39C;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  input[type=submit] {
    width: 100%;
  }
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #3DE39C;
}
/* Add a background color and some padding around the form */
.form-container {
  width: 70%;
  margin-left: 9%;
  border-radius: 5px;
  background-color: #222324;
  padding: 30px;
}
@media screen and (max-width: 780px) {
  .form-container {
    width: 90%;
    margin-left: 0px;
  }
}
@media screen and (max-width: 500px) {
  .form-container {
    width: 95%;
    padding: 15px;
    margin-left: -20px;
  }
}
@media screen and (max-width: 400px) {
  .form-container {
    width: 100%;
    padding: 5px;
    margin-left: -20px;
  }
}
