/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  background: linear-gradient(to bottom, #1c1a1f 0%, #000000 4000px);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 3.5rem;
  font-weight: 30rem;
}
h2 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
  padding-bottom: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-around;
  color: #eceaea;
}
.nav-left-side {
  display: flex;
  justify-content: flex-start;
  margin-top: 5rem;
}
img.logo {
  width: 3.9rem;
  height: 3.8rem;
  left: 2.2rem;
  top: 4.2rem;
  margin-top: -0.5rem;
  margin-right: 1rem;
}
.nav-right-side ul {
  display: flex;
  justify-content: flex-end;
  justify-items: space-between;
  margin-top: 5rem;
  width: 100%;
}
ul a {
  white-space: nowrap;
  padding-right: 4rem;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.jumbotron {
  display: flex;
  flex-direction: column;
}
.jumbotron .jumbo-img-wrap {
  display: flex;
  width: 100%;
}
.jumbotron .jumbo-img-wrap .jumbo-text {
  width: 35.6rem;
  height: 18.4rem;
  margin-left: 36.5rem;
  margin-top: 27rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 5.2rem;
  text-shadow: 0rem 0.5rem 0.4rem rgba(0, 0, 0, 0.56);
  color: rgba(255, 255, 255);
}
.jumbotron .jumbo-img-wrap .jumbo-text span {
  color: #3DE39C;
}
.jumbotron .jumbo-img-wrap .jumbo-img {
  width: 35.7rem;
  height: 66.7rem;
  margin-left: -8rem;
  margin-top: 8rem;
}
.jumbotron .jumbo-cta {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.jumbotron .jumbo-cta .jumbo-blurb > p {
  width: 64rem;
  height: 2rem;
  margin-left: 30%;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 30px;
  text-align: center;
  color: #929EAD;
}
.jumbotron .jumbo-cta .jumbo-button button {
  width: 14.9rem;
  height: 4.8rem;
  margin-left: 45%;
  box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.9);
  margin-top: 10rem;
  background: #3DE39C;
  border-radius: 9px;
  font-weight: 500;
  font-size: 1.6rem;
}
.features {
  display: flex;
  flex-direction: column;
  margin-left: 36.5rem;
  margin-top: 6rem;
}
.features .features-heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #837F92;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
}
