/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  background-color: #222324;
  font-family: sans-serif;
  color: gray;
}
a {
  font-size: 1.6rem;
  color: #FFF;
  text-decoration: none;
}
a:hover {
  color: #3DE39C;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: sans-serif;
  color: #FFF;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.7rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-around;
  color: #eceaea;
}
.nav-left-side {
  display: flex;
  justify-content: flex-start;
  margin-top: 5rem;
}
img.logo {
  width: 3.9rem;
  height: 3.8rem;
  left: 2.2rem;
  top: 4.2rem;
  margin-top: -0.5rem;
  margin-right: 1rem;
}
.nav-right-side ul {
  display: flex;
  justify-content: flex-end;
  justify-items: space-between;
  margin-top: 5rem;
  width: 100%;
}
ul a {
  white-space: nowrap;
  padding-right: 4rem;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
footer {
  background-color: #383838;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
footer p {
  color: #FFF;
  margin-bottom: 10px;
}
.freeway {
  width: 100%;
}
.busy-road {
  width: 100%;
}
.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 50px 0 30px 10%;
}
.blog-container a {
  font-size: 3rem;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #3DE39C;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #3DE39C;
}
/* Add a background color and some padding around the form */
.form-container {
  margin-left: 9%;
  border-radius: 5px;
  background-color: #222324;
  padding: 20px;
}
