.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 100px 0 20px 10%;

  a {
    color: @white;
    font-size: 3rem;
    text-decoration: none;
  }

  p {
    margin-top: 10px;
    width: 89%;
  }

  .freeway {
    width: 90%;
  }

  .busy-road {
    width: 90%;
  }
}
