.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: @white;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  img {
    width: 60%;
    margin-bottom: 10px;
  }

  p {
    color: @white;
    width: 60%;
    margin-bottom: 50px;
  }
}

.form {
  color: @white;
  margin-left: 10%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px; 
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: @mint-green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: @mint-green;
}

/* Add a background color and some padding around the form */
.form-container {
  width: 70%;
  margin-left: 9%;
  border-radius: 5px;
  background-color: #222324;
  padding: 30px;
}
