// General Styles
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  background-color: @main-background-color;
  font-family: sans-serif;
  color: gray;
}

a {
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  color: @white;
}

h1 {
  font-size: 3.0rem
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;  
}