.jumbotron {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  
  @media @phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .jumbo-wrap {
      display: flex;
      justify-content: center;
      width:100%;
      @media @phone {
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .jumbo-text-wrap {
          
          @media @phone {
              order: 2;
              margin-top: -23rem;
              //margin-left: -5%;
              text-align: center;
              align-self: center;
              width: 70%;
          }
          .jumbo-text {
              width: 35.6rem;
              height: 18.4rem;
              margin-top: 27rem;
              font-family: 'Poppins';
              font-style: normal;
              font-size: 4rem;
              line-height: 5.2rem;
              text-shadow: 0rem 0.5rem 0.4rem rgba(0, 0, 0, 0.56);
              color: rgba(255, 255, 255, 0.8);
      

              span {
                  color: #3DE39C;
              }
          }
      }

      .jumbo-img-wrap {
          @media @phone {
              order: 1;
              margin-top: 0;
              margin-left: 22%;
              text-align: center;
              width: 90%;
          }

          .jumbo-img {
              margin-left: -12%;
              width: 35.7rem;
              height: 66.7rem;
              //margin-left: -20rem;
              margin-top: 8rem;
              filter: drop-shadow(0px 3px 9px black);

              @media @phone {
                  max-width: 100%;
              }
          }
      }

  }

  .jumbo-cta {
      display: flex;
      flex-direction: column;
      width: 100%;
    
      //border: solid 3px #3DE39C;
      @media @phone {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
        //   margin-left: 55%;
          text-align: center;
          width: 100%;
          justify-content: space-around;
          justify-items: center;
      }

      .jumbo-blurb {
          width: 100%;
        //   margin-left: 25%;
        //   margin-right: 25%;

        p {
            width: 95%; 
            height: 2rem;
            //margin-left: 50%;
            margin-top: 1rem;
            font-style: normal;
            font-weight: 600;
            font-size: 2rem;
            line-height: 3rem;
            text-align: center;
            color: #929EAD;
  
            @media @phone {
                // order: 2;
                margin: 0 auto;
              //   margin-left: 4%;
                text-align: center;
                width: 90%;
                font-size: 1.8rem;
            }
  
        }

      }

      
      .jumbo-button {
        display: flex;
        width: 100%;
        button {
            margin-left: 38%;
            width: 25rem;
            height: 5.0rem;
            box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.90);
            margin-top: 10rem;
            background: #3DE39C;
            border-radius: 9px;
            font-weight: 500;
            font-size: 1.6rem;
            
  
            @media @phone {
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
            }
        }

      }
  }
}


.features {
  //border: solid 3px rgb(61, 64, 227);
  display: flex;
  flex-direction: column;
//   margin-left: 15%;
//   margin-right: 15%;
  width: 100%;
  margin-top: 6rem;

  @media @phone {
      margin-top: 5%;
      margin-left: 0%;
      text-align: center;
      width: 100%;
  }


  .features-heading {
      font-weight: bold;
      font-size: 4.8rem;
      line-height: 7.2rem;
      //color: #837F92;
      color: #F2F2F2;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45);
      text-align: center;
  }

  .features-wrapper {
      display: flex;
      justify-content: center;
      @media @phone {
          display: flex;
          flex-direction: column;
          width: 100%;
      }

      .feature {
          display: flex;
          flex-direction: column;
          margin-top: 3%;
          width: 100%;
          padding: 5%;
          margin: 2%;
          background: rgb(28,26,31);
          box-shadow: 5px 12px 3px rgba(0, 0, 0, 0.9);
          
          

          @media @phone {
              display: flex;
              flex-direction: column;
              margin-top: 5%;
              margin-left: 5%;
              width: 100%;
          }

          .feature-text {
              display: flex;
              flex-direction: column;
              margin-left: 0%;
              width:100%;

              //border: solid 3px red;
              @media @phone {
                  margin-left: 2%;
                  text-align: left;
                  width: 95%;
              }

              img.icon {
                  width: 53px;
                  height: 53px;
                  align-self: center;
                  margin-bottom: 5%;
                  box-shadow: 0px 12px 0px rgba(0, 0, 0, 0.90)
              }

              h2 {
                  color: #F2F2F2;
                  text-align: center;
                  font-weight: 550;
              }

              p {
                  color: #929EAD;
                  margin-top: 1rem;
                  margin-right: 1rem;

              }
          }

          .feature-img {
              //border: solid 3px white;
              margin-top: 2%;

              #hotspots-img, #predict-img {
                  width: 45rem;
                  height: 27.3rem;
                  border-radius: 0.3rem;
                  padding: 2%; 
                  @media @phone {
                      width: 100%;
                      max-width: 100%;
                  }
              }
          }

      }
      
  }

}

@media @phone {
  .jumbo-img-wrap.jumbo-img {
      order: 1;
      margin-left: 0%;
  }
}

//media queries for tablet

@media screen and (max-width:800px) {

  #main {
      width: 90%;
  }

  .jumbotron .jumbo-wrap {
      width: 100%;
      margin-left: 0%;
  }

  .jumbotron .jumbo-cta {
      width: 100%;
      
  }

  .features .hot-spots {
      //display: flex;
      display: none;
  }
}

//footer 
footer {
  display: flex;
  color:  #F2F2F2;
  margin-left: 38%;
  font-size: 2rem;
  margin-top: 8rem;

  @media @phone {
      width: 90%;
      margin-left: 6rem;
      //white-space: nowrap;
      text-align: center;
      font-size: 1.8rem;
  }
}