.jumbotron {
    display: flex;
    flex-direction: column;

    .jumbo-img-wrap {
        display: flex;
        width: 100%;
        .jumbo-text {
            width: 35.6rem;
            height: 18.4rem;
            margin-left: 36.5rem;
            margin-top: 27rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 3.5rem;
            line-height: 5.2rem;
            text-shadow: 0rem 0.5rem 0.4rem rgba(0, 0, 0, 0.56);
            color: rgba(255,255,255);
                span {
                    color:#3DE39C
                };
            }
    
        .jumbo-img {
                width: 357px;
                height: 667px;
                margin-left: -8rem;
                margin-top: 8rem;
            }
        }

    .jumbo-cta {
        display: flex;
        flex-direction: column;
        width: 100%;

        .jumbo-blurb>p {
            width: 64rem;
            height: 2rem;
            margin-left: 28%;
            margin-top: 1rem;
            font-style: normal;
            font-weight: 600;
            font-size: 2rem;
            line-height: 30px;
            text-align: center;
            color: #929EAD;

        }

    }

    
    }           

