header > nav.navigation {
    display: flex;
}


.nav-left-side {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    margin-left: 20px 
}

img.logo {
    position: absolute;
    width: 3.9rem;
    height: 3.8rem;
    left: 2.2rem;
    top: 4.4rem;
}