.navigation {
  display: flex;
  flex:1;
  justify-content: space-around;
  color: rgb(236,234,234);
  width: 90%;
  max-width: 100%;
  margin-top: 3%;
  

  @media @phone {
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      padding: 8% 11%;
  }
}


.navigation .nav-left-side {
  display: flex;
  white-space: nowrap;
  
  h1 {
    font-family: 'Raleway', sans-serif;
  }

  @media @phone {
      display: flex;
      justify-content: center;
      padding: 5% 5%;
      //margin-left: 7rem;
  }

}

img.logo {
  width: 3.9rem;
  height: 3.8rem;
  left: 2.2rem;
  top: 4.2rem;
  margin-top: -0.5rem;
  margin-right: 1rem; 
}

.nav-right-side ul {
  display: flex;
  width: 100%;
  justify-items: space-between;
  @media @phone {
      margin-top: 5%;
      display: flex;
      justify-content: center;
      justify-content: space-around;
  }
}

ul a {
  padding-right: 4rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: rgb(236,234,234);
  text-decoration: none;

  @media @phone {
      max-width: 100%;
      font-size: 1.6rem;
      padding: 0.6em;
      white-space: nowrap;
      text-decoration: underline;
  }
}

 ul a:hover {
     color: @mint-green;
   
}

// ul a.sign-in {
//     .buttonMaker();
//     margin-top: -0.8rem;
// }

// button.sign-in {
//     width: 8rem;
//     background-color: @mint-green;
// }

// ul.internal-links a:hover {
//     opacity: 1;
//   }
  
  
  ul.internal-links a:hover::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #031D44;
    width: 0%;
    bottom: 10px;
  }
  
  ul.internal-links a:hover::before {
    width: 100%;
  }


